<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Grafilogika játék</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                @*<div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>*@
                <div class="float-right">
                    @*<section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
                    @if (Request.IsAuthenticated)
                    {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Kezdőlap", "Index", "Home")</li>
                            <li>@Html.ActionLink("Játékok keresése", "Browse", "Browse")</li>
                            @{ if (!HttpContext.Current.User.Identity.Name.Equals("Vendég")) {
                                <li>@Html.ActionLink("Játék feltöltése", "Upload", "Upload")</li>
                                }
                            }
                            <li>@Html.DropDownList("url", new SelectList(new[]
                                {
                                    new SelectListItem { Text = "Profilom", Value = Url.Action("MyProfile", "Home") },
                                    new SelectListItem { Text = "Kilépés", Value = Url.Action("Logout", "Home") }
                                }, "Value", "Text"),
                                @HttpContext.Current.User.Identity.Name,
                                new { id = "urlddl" })</li>
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                @*<div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Grafilogika játék</p>
                </div>*@
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqwidgets")
        @RenderSection("scripts", required: false)
    </body>
</html>
<script>
            $(document).ready(function () {
                $('#urlddl').change(function () {
                    var url = $(this).val();
                    if (url != null && url != '') {
                        window.location.href = url;
                    }
                });
            });
</script>
