@model Grafilogika.Models.LoginModel

@{
    ViewBag.Title = "Bejelentkezés";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script>
    $(document).ready(function () {
        $('#UserName, #PassWord').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        });

        $(document).keypress(keypressHandler);
        $("#UserName, #PassWord").keypress(keypressHandler);
    });

    function keypressHandler(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('#LoginButton').focus().click();//give your submit an ID
        }
    }
</script>
<section id="loginForm">
    @using (Html.BeginForm(new { id = "LoginForm2" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { id = "UserName", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { id = "PassWord", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" id="LoginButton" value="Bejelentkezés" />
        </fieldset>
        <p>
            @Html.ActionLink("Regisztrálj", "Register"), ha még nincs fiókod!            
        </p>
        <p>
            @Html.ActionLink("Vagy játssz vendégként", "LoginGuest"), ha nem szeretnél regisztrálni és játékokat feltölteni!
        </p>
        <p>
            @Html.ActionLink("Elfelejtett jelszó", "ResetPassword")
        </p>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
